*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: #212529;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 15px;
}

.logo {
    font-size: 40px;
    color: #43C3C6;
    font-weight: 800;
    cursor: pointer;
    margin: 0;
}

.logo:hover{
    color: #8789C0;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color: #8789C0;
}

.hire-btn {
    background: #43C3C6;
    padding: 6px 30px;
    border: none;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3 ease;
    margin-right: 20px;
}

.hire-btn:hover{
    background-color: #8789C0;
}

/* Hamburger Menu */
#hamburger-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 32px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links ul li a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links ul li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.main{
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}

.main span{
    font-weight: 1000;
    cursor: pointer;
    transition: color 0.3 ease;
}

.main span:hover{
    color: #8789C0;
}


.main p.title{
    color: #fff;
    font-size: 50px;
    font-weight: 1000;
    padding: 50px;
    margin-top: 40px;
}

.main p.subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #ccc;
    margin-top: 40px;
}

.CV-btn{
    display: flex;
    align-items: flex-end;
}

.btn{
    
    background-color: #43C3C6;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}


